body{
    background-image: url("https://image.freepik.com/free-photo/top-view-of-green-grass-background-texture_1253-1416.jpg");
}

.car{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.moving{
    transition: width 2s, height 2s, background-color 2s, transform 2s;  
  }

  .parkingLot{
      height: 250px;
      width:100%;
      background-color: grey;

     position: absolute;
  }

  .parkPlace{
      background-color: rgb(71, 71, 71);
      width: 350px;
      height: 200px;
      z-index: 1;
      position: absolute;
  }

  .Score {
    position: fixed;
    margin: 10px;
    padding: 10px;
    left: 0;
    bottom: 0;
  }




